USER CSV file report
-------------------------------------------------------------------------
List of lines with unknown organism codes:
{% set total = 0 -%}
{% for code, lines in reports['organism_code_unknown_lines'].items() -%}
    {% set total = total + len(lines) -%}
    {{ code }}: {{ lines | join(', ') }}
{% endfor %}
    Total: {{ total }}
-------------------------------------------------------------------------
Script time:
    Elapsed: {{ elapsed_time }}
